# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual envs
.venv/
env/
venv/

# OS / editors
.DS_Store
.vscode/
.idea/

# Data (if you don't want to commit raw data)
data/raw/

git remote add origin https://github.com/AltanKay/Dsa.git
git branch -M main
git push -u origin main
